header {
  height: 4rem;
  display: flex;
  flex-direction: row;
  position: relative;
}

.spacer {
  flex-grow: 1
}

button {
  text-transform: uppercase;
  margin-right: 3px;
}

.buttons {
  position: absolute;
  left: 12px;
}
